<!doctype html>
<html lang="en">

<!-- 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="og:description" content="UK Health Security Agency (UKHSA) prevents, prepares for and responds to infectious diseases, and environmental hazards, to keep all our communities safe, save lives and protect livelihoods. We provide scientific and operational leadership, working with local, national and international partners to protect the public’s health and build the nation’s health security capability. UKHSA is an executive agency, sponsored by the Department of Health and Social Care .">
    <meta property="og:title" content="UK Health Security Agency">
    <meta property="og:url" content="https://www.gov.uk/government/organisations/uk-health-security-agency">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="GOV.UK">
    <meta name="twitter:card" content="summary">
    <meta name="govuk:organisations" content="&lt;EA1328&gt;">
    <meta name="govuk:primary-publishing-organisation" content="UK Health Security Agency">
    <meta name="govuk:public-updated-at" content="2024-08-07T15:30:10+01:00">
    <meta name="govuk:updated-at" content="2024-10-07T17:05:02+01:00">
    <meta name="govuk:first-published-at" content="2021-03-26T17:51:51+00:00">
    <meta name="govuk:content-id" content="80091cd8-7a8f-41ef-8faf-8af91fce4fdb">
    <meta name="govuk:schema-name" content="organisation">
    <meta name="govuk:rendering-app" content="collections">
    <meta name="govuk:publishing-app" content="whitehall">
    <meta name="govuk:format" content="organisation">
    <meta name="robots" content="max-image-preview:none">
    <meta name="description" content="UK Health Security Agency (UKHSA) prevents, prepares for and responds to infectious diseases, and environmental hazards, to keep all our communities safe, save lives and protect livelihoods. We provide scientific and operational leadership, working with local, national and international partners to protect the public’s health and build the nation’s health security capability. UKHSA is an executive agency, sponsored by the Department of Health and Social Care .">
        <meta charset="utf-8">
        <title>UK Health Security Agency - GOV.UK</title>
    
        <script src="/assets/static/govuk_publishing_components/vendor/lux/lux-measurer-db6c8505a6690974922b8578eb1f2208d3073807f98d9a048efe9991f8dfc92d.js" async="async"></script>
        <script src="/assets/static/govuk_publishing_components/rum-loader-a65b10e18ceeba3bd8a2eac507c7f2c513cdc82f35097df903fdea87f1dc2e33.js" async="async" data-lux-reporter-script="/assets/static/govuk_publishing_components/vendor/lux/lux-reporter-47bcb3a08c2820d6151631721d152b7fcc3a9ad12482417b90666c2b430f8bc7.js"></script>
    
        <meta name="govuk:components_gem_version" content="43.5.0">
        <script src="/assets/static/govuk_publishing_components/load-analytics-da466517f0c7c6cbcaa54a0d645fd3ddae99ec7a77cf8d30fa7d98cdad81fec9.js" type="module"></script>
    
        
    
        <link rel="stylesheet" href="/assets/static/application-0bc59717b1ae4a3744f2e53503b18542d35e22e135bd4590c6eb64067c0fdd82.css" media="all">
        <link rel="icon" sizes="48x48" href="/assets/static/favicon-f54816fc15997bd42cd90e4c50b896a1fc098c0c32957d4e5effbfa9f9b35e53.ico">
        <link rel="icon" sizes="any" href="/assets/static/favicon-50144c9d83e59584c45b249ad9e9abfdd23689876c33f28457df13bbdd9c8688.svg" type="image/svg+xml">
        <link rel="mask-icon" href="/assets/static/govuk-icon-mask-cdf4265165f8d7f9eec54aa2c1dfbb3d8b6d297c5d7919f0313e0836a5804bb6.svg" color="#0b0c0c">
        <link rel="apple-touch-icon" href="/assets/static/govuk-icon-180-d2d7399ff2ba05372b6b2018cc67053e458a748cceea1a550d804dbec401e3ed.png">
    
        <meta name="theme-color" content="#0b0c0c">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <meta property="og:image" content="https://www.gov.uk/assets/static/govuk-opengraph-image-03837e1cec82f217cf32514635a13c879b8c400ae3b1c207c5744411658c7635.png">
    
        
      <link rel="alternate" type="application/json" title="UK Health Security Agency" href="https://www.gov.uk/api/organisations/uk-health-security-agency">
    <link rel="alternate" type="application/atom+xml" title="UK Health Security Agency" href="https://www.gov.uk/government/organisations/uk-health-security-agency.atom">
    <link rel="stylesheet" href="/assets/collections/views/_organisation-e5d7ca88271293ff877ad40f1a4cb528f09e3bd278656e1fbdda37af7ad4836d.css">
    <link rel="stylesheet" href="/assets/collections/govuk_publishing_components/components/_organisation-logo-2ff2883244557c229c376d5c90dbbebae1144aa6873ee45e2a1e31f2d39a7228.css">
    <link rel="stylesheet" href="/assets/collections/govuk_publishing_components/components/_translation-nav-eb8a70e30ee90d98f5af321af00f504474ebd39e26da640bf690696493302823.css">
    <link rel="stylesheet" href="/assets/collections/components/_document-navigation-list-bd608a5e17d67010f4d0ccb6c77eee56bc9a9387cc0a02cbf59fd2771b769493.css">
    <link rel="stylesheet" href="/assets/collections/govuk_publishing_components/components/_image-card-b1f7844a03e203b9e48a63f72af5ededb7e82131977b2c08d80f3c0ae7f53846.css">
    <link rel="stylesheet" href="/assets/collections/govuk_publishing_components/components/_document-list-1c2acbab8bab91ff1d5b903c1a663548a65a7f14c037d64db6e1e47de7566f41.css">
    <link rel="stylesheet" href="/assets/collections/govuk_publishing_components/components/_subscription-links-87b839d9c899b259590ceecb0d07dcf2d3984ab90f3888ad0c9e82e79dec2a43.css">
    <link rel="stylesheet" href="/assets/collections/govuk_publishing_components/components/_govspeak-b93e3047a2de917af8d2c6c7184ea067bd0dfb3003d99500e2d8b0f82c7dfe01.css">
    <link rel="stylesheet" href="/assets/collections/govuk_publishing_components/components/_share-links-0bedea6b52affbbdc9de72628b34bb298b043bd5730e976e2e14ca00e395552b.css">
    <link rel="canonical" href="https://www.gov.uk/government/organisations/uk-health-security-agency">
    <meta name="govuk:rendering-application" content="collections">
    </head>

  -->
<head>
  <title>Tech radar</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <meta name="author" content="Sanjeet Jheeta">
  <meta name="description" content="This site has been designed to be used within the agency to organize our technology.">

  <meta property="og:url"                content="" />
  <meta property="og:type"               content="Website" />
  <meta property="og:title"              content="Tech radar" />
  <meta property="og:description"        content="This site can be used to organize your technology watch inside your companies." />
  <meta property="og:image"              content="/assets/images/crafts-poster.png" />

  <link rel="stylesheet" type="text/css" href="/css/main.719059a0f7a50dcd153e.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,300,600,700,800,900,300italic,600italic">
  <link rel="stylesheet" type="text/css" href="/css/buddy.plugins.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/buddy.js"></script>
  <script type="text/javascript" src="/js/konami.js"></script>
  
</head> 